<!-- Drawer overlay -->
<div class="drawer-overlay"></div>

<!-- Navigation drawer -->
<div class="drawer" id="drawer">
    <div class="drawer-logo">
        <img src="../../assets/TIPSarena.png" alt="TIPSarena Logo">
    </div>
    <nav class="drawer-nav">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../pages/predictions.html">Predictions</a></li>
            <li><a href="../pages/live-line.html">Live Line</a></li>
            <li><a href="../pages/story_info_page/tipsarena.html">Blog</a></li>
        </ul>
    </nav>
</div>