<!-- Reusable Header Component -->
<header class="site-header">
    <div class="menu-logo">
      <div class="menu-btn" onclick="toggleDrawer()">☰</div>
      <div class="logo">
        <img src="../../assets/TIPSarena.png" alt="TIPSarena Logo">
      </div>
    </div>

    <!-- <div class="auth-buttons">
        <a href="../src/pages/auth/signup.html" class="btn-signup">Sign Up</a>
        <a href="../src/pages/auth/login.html" class="btn-login">Login</a>
    </div> -->
    <div class="auth-buttons">
        <a href="../pages/profile/profile.html">
            <img id="profile-image" class="profile-icon" src="../../assets/profile.png" alt="Profile" style="display: none;">
        </a>        
        <a href="../src/pages/auth/signup.html" class="btn-signup">Sign Up</a>
        <a href="../src/pages/auth/login.html" class="btn-login">Login</a>
    </div>
</header>