        <div class="slider-frame", id="slider-frame">
            <div class="slide-images">
                    <div class="img-container">
                        <img src="SUN PIC3.jpg">
                    </div>
                    <div class="img-container">
                        <img src="Screenshot 2024-08-20 040007.png" width="700px" height="300px">
                    </div>
                    <div class="img-container">
                        <img src="Screenshot 2025-02-16 183825.png">
                    </div>
            </div>
        </div>


    
